.main-container{
	background: rgba(212, 208, 209,.2);
	min-height: px;
}

.header h1{
	color: white;
	padding-top: 1rem;
	padding-left: 1rem;
	font-family:'Caveat';
	font-weight: bold;
}

h3 small{
	padding-right: 0.75rem;
}

.name-slogan{
	background: rgba(255, 0, 0,0.8);
}

.menu{
	margin-top: 1rem;
}

.nav{
	margin-top: 0.1rem !important;
}

section{
	background: rgba(129, 99, 87,0.6);
}

a{
	color: white !important;
}

.gallery a{
	width: 30%;
	margin: auto;
}

.gallery a>img{
	width: 100%;
}

.gallery, .history{
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
	color: white;
}

.no-bullet li{
	margin-left: 1.5rem;
}

p{
	padding-left: 0.5rem; 
	margin-bottom: 0.5rem !important; 
	font-weight: bold;
}

.posts{
	background: rgb(247, 245, 209);
	min-height: 500px;"
}